.modal{
    width: 100%;
    height: 100hv;
    position: fixed;
    top: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content{
    background-color: greenyellow;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    margin: 100px auto;
    position: relative;
    max-width: 90%;
}

main, footer {
    background: transparent;
}
 footer{
    padding-top: 20px;
    border-top: 1px dashed #bbb;
 }

 .close{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 4px 8px;
    background-color: #dfdfdf;
    color: #777;
    font-size: 0.8em;
    border-radius: 4px;
    cursor: pointer;
 }

 .lg .modal-content{
    width: 800px;
 }

 .sm .modal-content{
    width: 400px;
 }

 .frosted .modal-content{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border: 2px solid white;
 }

 .frosted .modal {
    background-color: rgba(0, 0, 0, 0.2);
 }